
body {
  font-size: 16px;
  columns: #231f20; ;
}


/*titre d'entête*/
h1 {
   font-size: 88px;

}
/*titre section*/
h2 {
  margin-bottom: 64px;
  margin-top: 64px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}


.header-title{
  padding: 15px;
  background-color:#fcce00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;

}

.header-stripe{
  margin: 8px 0;
}

.header-subtitle{
  padding: 15px;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-stripe--red{
  height: 32px;
  background-color: #e02020;

}

.header-stripe--purple{
  height: 16px;
  background-color: #b620e0;
}

.header-stripe--blue{
  height: 8px;
  background-color: #6236ff;
}

.section-title{
  height: 56px;
  /*margin: 64px 216px 64px 229px;*/
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.bloc{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: justify;
  
  }

.bloc2{
display: flex;
justify-content: space-around;
align-items: flex-start;
text-align: justify;

}

.colonne1{

flex-basis: 320px;
flex-grow: 1;

}

.colonnetexte{

  padding-left: 32px;
  padding-right: 47px;
}

.colonnetexte-2{

  padding-left: 33px;
  padding-right: 47px;
}



.colonneimage{

  padding-left: 32px;
  padding-right: 0px;
}

.titre1{
 font-family: Poppins;
 font-weight: bold;
 margin-top: 0px;
 margin-bottom: 34px;
 font-size: 24px;
 text-align: center;

}

.text1{
font-size: 16px;

font-family: Poppins;
font-weight: normal;


}

.bouton{
  display: block;
  width: 185px;
  margin: 30px 31px 22px auto;
  padding: 10px 36px 10px 36px;
  border-radius: 15px;
  border: solid 4px;
  color: #ff6b00bd;
  font-size: 20px;
  text-decoration: none;
}

.learn-more{

  width: 113px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  


}
.ordinateur-1{
display: block;
margin-left: auto;
mix-blend-mode: darken;
}

.background-1{

background-image: url(../img/bg-yellow.png);
margin: 0 0 0 32px;
padding: 40px 10px 1px 223px;

}
.ordinateur-2{
display: block;
margin-left: auto;
mix-blend-mode: darken;
}

.background-2{
background-image: url(../img/bg-orange.png);
text-align: left;
margin: 0px, 33px, 0px,0px;

}


.background-3{

  background-image: url(../img/bg-red.png);

  margin: 0 0 1px;

}

.titre-2{
  margin: 0 0 32px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
}